.root{
    -fx-background-color:#1d1f2a;
}
.table-view{
    -fx-background-color:#1d1f2a;
    -fx-background-radius:5;
    -fx-table-cell-border-color: transparent;
}
.table-view .column-header-background{
    -fx-background-color:#343742;
    -fx-background-radius:5;
    -fx-padding:5 5 5 5;
}
.table-view .column-background, #table .column-background{
    -fx-background-color:transparent;
}
.table-view .table-cell{
    -fx-text-fill:#A38995;
    -fx-font-size:15px;
}
.table-view .table-row-cell{
    -fx-background:#343742;
    /*-fx-selection-bar:#DA9100;*/
    -fx-text-fill:#1d1f2a;
}
.table-view .table-row-cell:selected , .table-view .table-row-cell:selected .table-cell{
    -fx-background:#DA9100;
    -fx-text-fill:#1d1f2a;
    -fx-font-weight:bold;
}
.table-view .placeholder{
    -fx-background-color:#343742;
}
.table-view .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}
.label{
    -fx-text-fill:#A38995;
    -fx-font-weight:bold;
}
.date-picker{
    -fx-border-color:transparent;
    -fx-cursor:hand;
}
