.root{
    -fx-background-color:#1d1f2a;
}
.table-view{
    -fx-background-color:#1d1f2a;
    -fx-background-radius:5;
    -fx-table-cell-border-color: transparent;
}
.table-view .column-header-background{
    -fx-background-color:#343742;
    -fx-background-radius:5;
    -fx-padding:5 5 5 5;
}
.table-view .column-background, #table .column-background{
    -fx-background-color:transparent;
}
.table-view .table-cell{
    -fx-text-fill:#A38995;
    -fx-font-size:15px;
}
